h1{text-align: center;}
h2{text-align: center;}
h3{text-align: center;}
h3{font-size: 160%;}
p{text-align: center;}
p{font-size: 160%;}
b{text-align: center;}
body{background-color: grey;}
#imagem1 {margin-left: 40%;}